.nav_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-items: start;
  align-items: center;
  padding: 0;
  margin-top: var(--space-xxl);
}

.nav_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.nav_list li span {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  color: var(--white-color);
  &:hover {
    color: var(--accent-color);
  }
}

.nav_list li div {
  width: 1.2rem;
  height: 0.1rem;

  margin-left: 1rem;
  margin-right: 1rem;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  background-color: var(--white-color);
}

.title {
  font-size: 4.7rem;
  letter-spacing: 0.1rem;
  line-height: 100%;
  padding-right: 8rem;
  margin-bottom: var(--space-xl);
}

.wrapper {
  position: sticky;
  margin-bottom: 3rem;
  top: 8rem;
}
