.projects_table {
  margin-bottom: var(--space-xxl);

  @media (max-width: 700px) {
    font-size: 1.2rem;

    .projects_table_row {
      grid-template-rows: 50px auto fit-content fit-content;
    }

    .description {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
    }

    .buttons {
      grid-row: 4 / span 1;
      grid-column: 1 / span 2;
    }

    .stack {
      grid-row: 3 / span 1;

      border: 1px solid var(--accent-color);
      padding: var(--space-s);
    }
  }
}

.projects_table_row {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 200px);
  grid-template-rows: 50px auto fit-content;
  gap: var(--space-m);
  padding: var(--space-m) var(--space-m);

  background-color: var(--background-color);
  backdrop-filter: blur(8px);
  margin-bottom: var(--space-xl);
}

.title {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}

.description {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.stack {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;

  border: 1px solid var(--accent-color);
  padding: var(--space-s);
}

.buttons {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

  display: flex;
  flex-flow: column;
  gap: var(--space-m);
}

.button_git,
.button_visits {
  padding: var(--space-s) var(--space-m);
  margin: 0 var(--space-m);
}

.button_git {
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--accent-color);
    background-color: var(--white-color);
    color: var(--accent-color);
  }
}

.button_visit {
  background-color: inherit;
  color: var(--accent-color);
  border: none;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--white-color);
    color: var(--white-color);
  }
}
