.projects_table_row {
  display: grid;
  grid-template-columns: 20px repeat(4, minmax(100px, 300px));
  grid-template-rows: auto;
  gap: 20px;
  border-bottom: 1px solid var(--border-color);

  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}
