.questionnaire_section {
  display: flex;
  padding: var(--space-l);
  gap: 2rem;
  background-color: var(--background-color);
  backdrop-filter: blur(8px);
  margin-bottom: var(--space-xxl);
}

.name {
  font-family: var(--font-family-title-name);
  color: var(--accent-color);
}

.contact_list {
  list-style-type: none;
  padding: 0;

  @media (max-width: 700px) {
    font-size: 1.2rem;
  }
}

.contact_list li a {
  text-decoration: none;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  &:hover {
    color: var(--accent-color);
  }
}

.photo_box {
  max-width: 30%;
  @media (max-width: 700px) {
    max-width: 40%;
    max-height: 50%;
  }
}

.photo {
  border-radius: 10%;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contact_box {
  max-width: 55%;
  @media (max-width: 700px) {
    max-width: 45%;
  }
}

.title {
  color: var(--accent-color);
}
