.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
  backdrop-filter: blur(8px);
}

.footer p {
  color: var(--accent-color);
}
